# Práctica: Intervalos de confianza y tamaño del efecto

Continuando tu trabajo en el Laboratorio de Psicología de la PUCP, se te ha pedido evaluar con mayor detalle el análisis que realizaste. Nuevamente, cargamos los datos recolectados:

In [1]:
# Cargamos los datos del experimento
import pandas as pd
expA = pd.read_csv('https://raw.githubusercontent.com/renatoparedes/EstadisticaYPsicologiaMatematica/main/RepasodeEstadistica/ExpA.csv')
expA.head()

,Participante,TrianguloBrillante,TrianguloOpaco,CuadradoBrillante,CuadradoOpaco,PentagonoBrillante,PentagonoOpaco
0,1,258,290,242,295,250,310
1,2,241,283,242,297,259,313
2,3,260,300,240,297,250,313
3,4,251,291,244,292,252,308
4,5,259,291,240,287,270,307

In [4]:
expA.iloc[:,1:].describe()

,TrianguloBrillante,TrianguloOpaco,CuadradoBrillante,CuadradoOpaco,PentagonoBrillante,PentagonoOpaco
count,6.00000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,253.50000,291.000000,241.166667,294.000000,256.166667,310.666667
std,7.17635,5.403702,1.834848,3.898718,7.652886,2.732520
min,241.00000,283.000000,239.000000,287.000000,250.000000,307.000000
25%,251.25000,290.250000,240.000000,292.750000,250.500000,308.500000
50%,255.00000,291.000000,241.000000,295.500000,254.000000,311.500000
75%,258.75000,291.000000,242.000000,296.750000,258.250000,313.000000
max,260.00000,300.000000,244.000000,297.000000,270.000000,313.000000

## Ejercicio 1
Compara gráficamente las condiciones `TrianguloBrillante` y `PentagonoBrillante` utilizando intervalos de confianza. 

> Sugerencia: Utiliza el método `.pointplot()` del paquete `seaborn`.

In [38]:
import seaborn as sns

# Escribe tu respuesta aquí

¿Observas una potencial diferencia significativa? Confirma tu observación con una comparación de medias.

>Sugerencia: Utiliza la función `ttest_rel` disponible en el paquete `scipy.stats`.

In [39]:
from scipy import stats

# Escribe tu respuesta aquí

## Ejercicio 2
Compara las condiciones `CuadradoBrillante` y `PentagoBrillante` utilizando una prueba t de student para muestras relacionadas. Además, reporta el tamaño del efecto con la métrica d de Cohen.

> Sugerencia: Utiliza la función `ttest` disponible en el paquete `researchpy`.

In [ ]:
!pip install researchpy

In [40]:
import researchpy

# Escribe tu respuesta aquí

¿Qué puedes concluir a partir de tus resultados?

In [ ]:
# Escribe tu respuesta aquí

# Bonus: Ejercicio 3
Compara gráficamente todas las condiciones experimentales utilizando intervalos de confianza. 

> Sugerencia: Utiliza el método `.pointplot()` del paquete `seaborn`.

In [41]:
import seaborn as sns

# Escribe tu respuesta aquí

¿Qué puedes hipotetizar a partir de tu observación?